# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\Stefan\Desktop\VIII-Semestar\Servisno-Orijentisane Arhitekture\Domaci\03. gRPC\C++\gRPC codebase based on best match to current usage at 10.03.2022.
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

